.aboveTheFold {
  background-color: var(--lightest-orange);
}

.aboveTheFoldInner {
  padding: 60px 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.pageTitle {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.subtext {
  composes: paragraphText from global;
  margin-bottom: 4px;
}

.subtext a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--dark-orange);
}

.subtext a:hover {
  text-decoration: none;
}

.buttonGroup {
  display: flex;
  gap: 12px;
}
