@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --grey: hsl(0, 0%, 35%);
  --orange: rgb(253, 126, 20);
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.brandingImage {
  max-width: 172px;
  height: auto;
}
