@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --grey: hsl(0, 0%, 35%);
  --orange: rgb(253, 126, 20);
  --light-orange: #ffe8cc;
  --lightest-orange: #fff4e1;
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

li {
  list-style-type: none;
}

.paragraphText {
  color: var(--grey);
  font-size: 0.88rem;
  line-height: 1.6rem;
  text-wrap: pretty;
}

.brandingImage {
  max-width: 172px;
  height: auto;
}

/* MEDIA QUERIES */
@media (max-width: 899px) {
  .brandingImage {
    margin-top: 12px;
    max-width: 100px;
  }
}

/* tablet screens */
@media (max-width: 759px) {
  .paragraphText {
    font-size: 0.8rem;
    line-height: 1.45rem;
  }
}

/* mobile screens */
@media (max-width: 499px) {
  .brandingImage {
    max-width: 88px;
  }

  .paragraphText {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}
