<!-- THIS IS THE HTML TEMPLATE USED IN EMAIL JS -->

<img
  src="https://i.imgur.com/HLf9xyO.jpeg"
  width="192"
  height="102"
  alt="logo"
/>
<h1 style="font-family: Roboto">Thank you for contacting us</h1>
<p style="font-family: Roboto">Hi {{from_name}},</p>

<p style="font-family: Roboto, sans-serif">
  We've received your message from our
  <a style="color: grey" href="https://equinoxacademy.com.au" target="_blank"
    >website</a
  >:
</p>
<p
  style="
    padding: 12px;
    border-left: 4px solid #d0d0d0;
    font-style: italic;
    font-family: Roboto, sans-serif;
  "
>
  {{message_html}}
</p>

<p style="font-family: Roboto, sans-serif">
  <br />Our team will contact you soon through via:
</p>
<ul style="font-family: Roboto, sans-serif">
  <li><em style="color: grey">Email:</em> {{email}}</li>
  <li><em style="color: grey">Phone:</em> {{phone}}</li>
</ul>
<p style="font-family: Roboto, sans-serif">
  Please feel free to reply to this email if you'd like to add further
  information.
</p>
<p>&nbsp;</p>
<p style="font-family: Roboto, sans-serif">Thank you,</p>
<p style="font-family: Roboto, sans-serif; margin-bottom: 8px">
  Equinox Academy Team
</p>
<p>
  <small style="font-family: Roboto, sans-serif"
    ><a style="color: grey" href="mailto:info@equinoxacademy.com.au"
      >info@equinoxacademy.com.au</a
    >
    | 0422 132 651 |
    <a
      style="color: grey"
      href="https://equinoxacademy.com.au"
      target="_blank"
      rel="noopener"
      >equinoxacademy.com.au</a
    ></small
  >
</p>
