.inner {
  composes: inner from global;
}

/* ABOVE THE FOLD SECTION */
.aboveTheFold {
  background-color: var(--light-orange);
}

.aboveTheFold > .inner {
  padding: 144px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.pageTitle {
  font-size: 2.5rem;
  text-align: center;
}

.buttonGroup {
  display: flex;
  gap: 12px;
}

/* CLASSES SECTIONS */
.classTypes {
  display: flex;
  flex-direction: column;
}

.classType > .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.classTypeColoured {
  composes: classType;
  background-color: var(--lightest-orange);
}

.gridImage {
  height: 404px;
  max-height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: 50% 10%;
}

.gridImageFarRight {
  composes: gridImage;
  object-position: right;
}

.gridImageCentred {
  composes: gridImage;
  object-position: 50% 30%;
}

.gridImageRight {
  composes: gridImage;
  object-position: 60% 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionHeading {
  font-size: 1.8rem;
  margin-bottom: -12px;
}

.classLength {
  text-transform: uppercase;
  color: lightgray;
  font-size: 0.8rem;
}

.classDescription {
  composes: paragraphText from global;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.benefit {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-left: 12px;
}

.benefit > svg {
  flex-shrink: 0;
}

.benefitText {
  composes: paragraphText from global;
}

.badges {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* MEDIA QUERIES */
@media (max-width: 1019px) {
  .classType > .inner {
    gap: 3vmin;
  }

  .gridImage {
    height: 100%;
  }
}

/* tablet */
@media (max-width: 749px) {
  .classType > .inner {
    grid-template-columns: 1fr;
  }

  .gridImage {
    grid-row: 1 / 2;
    height: 372px;
    object-position: 50% 10%;
  }

  .gridImageCentred {
    object-position: 50% 35%;
  }

  .gridImageFarRight {
    object-position: right;
  }
}

@media (max-width: 499px) {
  .pageTitle {
    font-size: 2rem;
  }

  .sectionHeading {
    font-size: 1.5rem;
  }
}
