.footer {
  --darkgrey: hsl(0, 0%, 70%);
  color: var(--grey);
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

/* top section */
.top {
  padding: 60px 24px;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 0.5fr repeat(4, 1fr);
  gap: 5vmin;
}

.brandingImage {
  composes: brandingImage from global;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contactValue {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.icon {
  width: 24px;
  height: auto;
  color: gray;
}

.socialsIconContainer {
  height: 52px;
  width: 52px;
  padding: 4px;
  border-radius: 50%;
  background-color: transparent;
  transform: translateX(-4px);
  color: grey;
  transition: background-color 0.2s linear;
}

.socialsIconContainer:hover {
  background-color: var(--orange);
  color: white;
}

.link {
  composes: link from global;
}

/* bottom section */
.bottom {
  background-color: hsl(0, 0%, 90%);
  padding: 8px 24px;
}

.bottom > .inner {
  display: flex;
  align-items: center;
  gap: 4px;
}

.copyrightIcon {
  margin-bottom: 2px;
  width: 16px;
  height: 16px;
}

.copyrightText {
  font-size: 0.75rem;
}

/* MEDIA QUERIES */
@media (max-width: 859px) {
  .footer {
    font-size: 0.75rem;
  }

  .copyrightText {
    font-size: inherit;
  }

  .heading {
    margin-bottom: 4px;
    font-size: 0.88rem;
  }
}

@media (max-width: 819px) {
  .top {
    padding: 24px 12px;
    grid-template-columns: 1fr repeat(2, 5fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    gap: 36px 16px;
  }

  .brandingLink {
    grid-row: 1 / -1;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.65rem;
  }

  .top {
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
    padding: 48px 24px;
    gap: 24px;
  }

  .brandingLink {
    display: none;
  }

  .column {
    gap: 2.5vmin;
  }

  .heading {
    font-size: 0.8rem;
    margin-bottom: -1vmin;
  }

  .contactItem {
    gap: 8px;
  }

  .icon {
    width: 16px;
  }

  .bottom {
    padding: 4px 12px;
  }

  .copyrightIcon {
    height: 12px;
    width: 12px;
  }

  .copyrightText {
    font-size: 0.58rem;
  }
}

@media (max-width: 499px) {
  .socialsIconContainer {
    height: 40px;
    width: 40px;
  }
}
